projekat/zig/src/main/java/rs/ac/uns/ftn/jaxb/prilog/prilog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://ftn.uns.ac.rs/prilog" xmlns:pr="http://ftn.uns.ac.rs/prilog">
    <xs:element name="Prilog_Image">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Naziv_priloga" type="xs:string"/>
                <xs:element name="Sadrzaj_priloga" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  </xs:schema>
